/* ------------------------------------------------------------------ */
/* 0. Header Styles
/* ------------------------------------------------------------------ */


#home .mobile-profile-pic{
  visibility: visible;
  display: inline-block;
  position: center;
  height: auto;
  border: solid;
  border-width: thick;
  border-color: navy;
  border-radius: 50%;
  max-height:22.5rem;
  max-width: 22.5rem;
  overflow: hidden;
}

#home {
  position: relative;
  min-height: auto !important;
  width: 100%;
  background: #161415 url(../../images/mobileBackgrounds/mobile-mountain-background.jpg) no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}
#home .profile-pic-wrapper {
  padding-top: 15%;
}

.banner-text h1 {
  color: aliceblue;
  padding: .5em
}
.banner-text h3 {
  color: aliceblue;
  font-family: "sans-serif";
  text-align: center;
  padding-top: 2em;
  margin: 0px auto;
  width: 80%;
}

#home .social {
  margin: 18px 0 24px;
  font-size: 36px;
  line-height: 36px;      
}
#home .social li { 
  display: inline-block;
  margin: 0 2rem; 
}
#home .social li a {
  color: #fff;
}


#home .scrolldown a {
  margin: 0 auto 2rem;
  color: #fff;
  display: block;
  font-size: 42px;
  border-radius: 100%;

  

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#home .scrolldown a:hover {
  color: #11abb0;
}


@media only screen and (min-width: 961px){
  #home {
    position: relative;
    min-height: 800px !important;
    width: 100%;
    background: #161415 url(../../images/header-background.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
  }
  .mobile-profile-pic{
    visibility: hidden;
  }
  
  
  #home .banner-text h1 {
    font: 90px/1.1em "opensans-bold", sans-serif;
    color: #fff;
    letter-spacing: -2px;
    margin: 1em auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
  }
  #home .banner-text h3 {
    font: 18px/1.9em "librebaskerville-regular", serif;
    margin: 0 auto;
    width: 70%;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  }
  #home .banner-text h3 span,
  #home .banner-text h3 a {
    color: #fff;
  }
  #home .banner-text hr {
    width: 60%;
    margin: 18px auto 24px;
    border-color: #2f2d2e;
    border-color: rgba(150, 150, 150, 0.1);
  }
  
  /* header social links */
  #home .social {
    margin: 6rem 0;
    padding: 0;
    font-size: 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
  }

  #home .social li a:hover {
    color: #11abb0;
  }


  #home .scrolldown {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -28px !important;
  }
}