/* ------------------------------------------------------------------ */
/*  mobile navigation
/* ------------------------------------------------------------------ */
@media only screen and (max-width: 961px){
   
   .topnav {
      overflow: hidden;
      background-color: #333;
      position: fixed;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
    
    .topnav #myLinks {
      flex-direction: column;
      margin: 0;
      padding: 0;
      margin-top: -50%;
      display: none;
    }
    .topnav #myLinks a {
      color: white;
      width: 100%;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 12px;
      display: block;
     
    }
    .topnav #myLinks a:last-child {
      padding-bottom: 67%;
    }



    .topnav button.active {
       visibility: hidden;
       overflow: hidden;
    }

    .topnav button {
      color: white;
      width: 100%;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }
    
    .topnav button.icon {
      background: black;
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    
}