/* ------------------------------------------------------------------ */
/*  mobile navigation
/* ------------------------------------------------------------------ */
@media only screen and (max-width: 961px){
   
   .topnav {
      overflow: hidden;
      background-color: #333;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1;
      border-radius: 0% 0% 10% 10%;
    }
    
    .topnav #myLinks {
      display: none;
    }
    
    .topnav a.active {
       visibility: hidden;
       overflow: hidden;
    }

    .topnav a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }
    
    .topnav a.icon {
      background: black;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }

    
}